[mysqld]
sql_mode = STRICT_TRANS_TABLES
default_time_zone='Europe/Moscow'
port = 3306
wait_timeout = 28800
max_allowed_packet = 1073741824
innodb_buffer_pool_instances = 8
innodb_buffer_pool_size = 2684354560
innodb_log_buffer_size = 268435456
innodb_log_file_size = 4294967296
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 2
net_read_timeout=60
net_write_timeout=60
interactive_timeout=600
skip-log-bin
connect_timeout = 20
explicit_defaults_for_timestamp = ON

# Slow query settings:
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2

# Error query settings:
log_error=/var/log/mysql/mysql_error.log

# General log
general_log=1
general_log_file=/var/log/mysql/mysql.log